.container {
  margin: auto;
  max-width: 1080px;
}

$primary: #fc8507;

@import "node_modules/bootstrap/scss/bootstrap";

.btn-primary {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.btn-primary:disabled {
  color: white;
}

.btn-primary:active {
  color: white !important;
}

.cursor-pointer{
  cursor: pointer;
}

body {
  min-height: 100vh;
}