.object-fit-contain {
  object-fit: contain;
}

.end-0 {
  right: 0!important;
}
.bottom-0 {
  bottom: 0!important;
}

$primary: #fc8507;

@import "node_modules/bootstrap/scss/bootstrap";

.btn-primary {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.btn-primary:disabled {
  color: white;
}

.btn-primary:active {
  color: white !important;
}

.btn-outline-primary:hover {
  color: white;
}

.btn-outline-primary:disabled {
  color: white;
}

.btn-outline-primary:active {
  color: white !important;
}

.cursor-pointer{
  cursor: pointer;
}

body {
  min-height: 100vh;
}